<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < users.length; i++) { %>
                <tr>
                    <td>
                        <%= users[i].id %>
                    </td>
                    <td>
                        <%= users[i].email %>
                    </td>
                    <td>
                        <%= users[i].firstname %>
                    </td>
                    <td>
                        <%= users[i].surname %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <br> <a href="/"><button>retour</button></a>
</body>

</html>