*{
    box-sizing: border-box;
}


body{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.test{
    justify-content: center;
    align-items: center;
}

/* IDs --------------------------------------------------------------- */

#dislike,#like{
    display: none;
}

#label-like{
    background-image: url(../img/like.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#label-dislike{
    background-image: url(../img/dislike.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#selectuser:hover{
    color: #6E38A4;
}

/* Margins --------------------------------------------------------------- */


.margin-body-top{
    margin-top: 50px;
}

.margin-form{
    margin: 25px 0 15px 0;
}

.margin-form-text{
    margin-bottom: 30px;
}

.margin-choice{
    margin-right: 70px;
}

.margin-header{
    margin-bottom: 80px;
}



/* Flex-box --------------------------------------------------------------- */
.align-end {
    align-items: flex-end;
} 
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-spaceb{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

/* text --------------------------------------------------------------- */

.text{
    font-size: 20px;
    line-height: 24px;
}

.a-text{
    text-decoration: none;
    color: #6E38A4;
    transition: 0.2s;
}

.a-hover:hover{
    text-decoration: underline;
}

.pointer-swipe{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.pointer-swipe:hover, .pointer-swipe:active{
    border: 3px solid #6E38A4;
}

.pointer{
    cursor: pointer;
}

/* Formulaire --------------------------------------------------------------- */

.form-text{
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px 2px;
    width: 380px;
    height:55px;
    font-size: 20px;
}
.form-text:focus {
    border-color: #6E38A4;
    outline: none;
}

.submit-button{
    padding: 15px 30px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    color: #6E38A4;
    border: 3px solid #6E38A4;
    border-radius: 10px;
}
.submit-button:active {
    background-color: #6E38A4;
    color: white;
}


/* Logo -----------------------------------------------------------------*/

.logo-reperio {
    width: 330px;
}

.logo-reperio2{
    width: 130px;
}

.pdp{
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: grey;
}

.swipe{
    height: 500px;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: grey;
}


/* Switch formulaire -----------------------------------------------------------------*/


.title2 {
font-size: 24px;
font-weight: bold;
padding-bottom: 4px;
width: 120px;
text-align: end;
margin-left: 125px;

}

.slider-button{
    position: relative;
    margin: 0 auto;
    border: solid 3px #6E38A4;
    border-radius: 30px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-bottom: 30px;   
}

.slider-button::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin: 2.5px;
    transition: 0.2s;
}

#slide{
    display: none;
}

#slide:checked + .slider-button::before{
    transform: translateX(40px);
}

/***********************************************************************************/
/* media */

@media (min-width:730px) {
    .submit-button{
        padding: 15px 30px;
        text-align: center;
        font-size: 48px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #6E38A4;
        background: transparent;
        cursor: pointer;
        /* transition: ease-out 0.5s; */
        transition: ease-out 0.3s;
        border: 3px solid #6E38A4;
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 #6E38A4;
    }
    
    .submit-button:hover, .submit-button:active{
        color: white;
        box-shadow: inset 0 -100px 0 0 #6E38A4;
    }
    
}