/* ======================================== STYLE UNIVERSEL ======================================== */

*{
    box-sizing: border-box;
}


body{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

/* -------------------- Flex-Box -------------------- */

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-spaceb{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}

/* -------------------- -------------------- */

/* -------------------- Text -------------------- */

.text{
    font-size: 20px;
    line-height: 24px;
}

.a-text{
    text-decoration: none;
    color: #6E38A4;
    transition: 0.2s;
}

.a-hover:hover{
    text-decoration: underline;
}

/* -------------------- -------------------- */

/* -------------------- Margins -------------------- */

.margin-body-top{
    margin-top: 50px;
}

.margin-form{
    margin: 50px 0 15px 0;
}

.margin-form-text{
    margin-bottom: 30px;
}

.margin-header{
    margin-bottom: 30px;
}

/* -------------------- -------------------- */

/* -------------------- Formulaires -------------------- */

.form-text{
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px 2px;
    
}
.form-text:focus {
    border-color: #6E38A4;
    outline: none;
}

.submit-button{
    padding: 15px 30px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #6E38A4;
    background: transparent;
    border: 3px solid #6E38A4;
    border-radius: 10px;
}

.submit-button:active{
    color: white;
    background-color: #6E38A4;
}



/* -------------------- -------------------- */

/* ======================================== INDEX ======================================== */

/* -------------------- Logo -------------------- */
.logo-reperio {
    width: 330px;
}

/* -------------------- -------------------- */

/* ======================================== FORUMULAIRE ======================================== */

/* -------------------- HEADER -------------------- */

#selectuser{
    width: 100px;
    margin-left: 80px;
    text-align: end;
}

#selectuser:hover{
    color: #6E38A4;
}

.logo-reperio2{
    width: 100px;
}

/* -------------------- -------------------- */

/* -------------------- Switch -------------------- */
.switch-button{
    position: relative;
    margin: 0 auto;
    border: solid 3px #6E38A4;
    border-radius: 30px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-bottom: 30px;
    
}

.switch-button::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin: 2.5px;
    margin: 3px;
    transition: 0.2s;
}

#switch{
    display: none;
}

#switch:checked + .switch-button::before{
    transform: translateX(40px);
}

/* -------------------- -------------------- */

/* ======================================== SLIDER ======================================== */

/* -------------------- STRUCTURE -------------------- */
.pdp{
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: grey;
    margin-left: 100px;
}

.slide{
    height: 500px;
    width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: grey;
}

/* -------------------- -------------------- */

/* -------------------- BACKGROUND -------------------- */

.bg{
   background-image: url(../img/bg-mbl.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom;
}
    /* -------------------- -------------------- */

/* -------------------- BOUTONS LIKE/DISLIKE -------------------- */

#dislike,#like{
    display: none;
}

#label-like{
    background-color: #fff;
    background-image: url(../img/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: center top 20px;
    border: 3px solid #6E38A4;
}

#label-like:hover{
    background-color: #6E38A4;
    background-image: url(../img/like2.svg);
    background-repeat: no-repeat;
    background-position: center top 10px;
}

#label-dislike{
    background-color: #fff;
    background-image: url(../img/dislike.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #6E38A4;

}

#label-dislike:hover{
    background-color: #6E38A4;
    background-image: url(../img/dislike2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pointer-slide{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.pointer-slide:hover, .pointer-slide:active{
    border: 3px solid #6E38A4;
}

.margin-choice{
    margin-right: 70px;
}

.relative-choice{
    position: relative;
    bottom: 75px;
}

.mobile-choice{
    position: relative;
    bottom: 75px;
}

/* -------------------- -------------------- */

/* ======================================== MEDIA QUERIES ======================================== */

/* -------------------- SUBMIT BUTTON -------------------- */

@media (min-width:600px) {

    /* -------------------- SUBMIT BUTTON -------------------- */
    .submit-button{
        padding: 15px 30px;
        text-align: center;
        font-size: 48px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #6E38A4;
        background: transparent;
        cursor: pointer;
        transition: ease-out 0.2s;
        border: 3px solid #6E38A4;
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 #6E38A4;
    }
    
    .submit-button:hover, .submit-button:active{
        color: white;
        box-shadow: inset 0 -100px 0 0 #6E38A4;
    }

    /* -------------------- -------------------- */

    /* -------------------- BACKGROUND -------------------- */

    .bg{
        height: 100vh;
        background-image: url(../img/bg-dsktp.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
    }

    /* -------------------- -------------------- */

    /* -------------------- SLIDER -------------------- */
    .relative-choice{
        bottom: 350px;
        left: 200px;
    }

    .mobile-choice{
        bottom: 350px;
        right: 200px;
    }

    .pdp{
        margin-left: 500px;
        width: 100px;
    height: 100px;
    }

    .slide{
        height: 500px;
        width: 400px;
    }
    
}