<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="../img/web-icon.svg">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style-home.css">
    <title>Page d'accueil</title>
    <script src="scripts/request-front.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="">
    <h1>Bonjour
        <span class="name">
            <%= name %>
        </span>
    </h1>
    <img id="imm-slide" class="slide" src="../img/loading.gif" alt="">
    <div class="button-cont">
        <button id="dislikeButton" class="button">dislike</button>
        <button id="likeButton" class="button like ">like</button>
    </div>
    <a href="/">retour</a>
</body>

</html>