<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Page d'accueil</title>
    <script src="scripts/request-front.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Bonjour
        <span class="firstname">
            <%= firstname %>
        </span>
        <span class="surname">
            <%= surname %> !
        </span>
    </h1>
    <img id="imm-slide" src="../uploads/<%= photo %>" alt="CV">
    <div class="button-cont">
        <button class="button dislike">dislike</button>
        <button id="like" class="button like ">like</button>
    </div>
    <a href="/">retour</a>
    <p>email: <span>********</span></p>
</body>

</html>